﻿@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <h2 class="text-center">Admin paneli</h2>
        <div class="panel panel-default">
            <div class="panel-heading">Seçenekler</div>
            <ul class="list-group">
                <li class="list-group-item">@Html.ActionLink("Yeni film oluştur", "NewMovie")</li>
            </ul>
        </div>
    </div>
</div>

