﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Aksiyon";
}

<div class="col-md-9" style="border:blue 2px">
    <div class="col-md-9" style="border:blue 2px">

        <h1 class="postsby">
            <span>"Aksiyon" Kategorisinde Öneriler</span>
        </h1>
        <div>
            <div>
                <div class="col-md-5">
                    
                    <img src="~/image/ajansalt.jpg" style="width:100%" alt="">
                </div>
                <div class="col-md-7">
                    <div>
                        <div class="caption">
                            <h4 class="pull-right">2010</h4>
                            <h4>
                                <a href="#">Ajan Salt</a>
                            </h4>
                            <p>Dişi Rambo olan Evelyn Salt'ın şaşırtacak zekasıyla bütünleşince izlenebilecek bir aksiyon filmi ortaya çıkıyor</p>
                        </div>
                    </div>

                    @{
                        if (Request.IsAuthenticated)
                        {
                            <form>
                                Yorum:
                                <br />
                                <br />
                                <textarea  placeholder="Bir yorum yazınız." style="overflow:auto"  name="yorum" cols="60" rows="2"></textarea><br><br>

                                <input type="submit" value="Gönder">


                            </form>

                        }
                    }
                    </div>



                    <div class="ratings">

                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
